body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.bottom {
  width: 1300px;
  margin: auto;
}

.coinStat {
  border-collapse: collapse;
  width: 100%;
}

.coinHead {
  height: 40px;
  border-top: 1px solid;
  text-align: right;
}

tr.coinHead > th:nth-child(1) {
  text-align: center;
}

tr.coinHead > th:nth-child(2) {
  text-align: left;
}

tr.coinHead > th:nth-child(7),
tr.coinHead > th:nth-child(8) {
  width: 150px;
}

tr.coin > td {
  width: 100px;
  height: 55px;
  border-bottom: 1px solid;
  text-align: right;
  font-size: 14px;
}

tr.coin > td:nth-child(1) {
  text-align: center;
}
tr.coin > td:nth-child(2) {
  text-align: left;
}
.coin:hover {
  background-color: rgba(211, 211, 211, 0.185);
}

.c1 {
  padding-right: 10px;
  color: blue;
}
.content {
  padding-left: 40px;
  display: flex;
  font-size: 12px;
}
.textgreen {
  color: green;
}
.language-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.language-select input {
  display: none;
}
.language-select label {
  display: block;
  background-color: #ffffff;
  border-radius: 5px;
  color: #000000;
}
.language-select input:checked + label {
  background-color: #ffffff;
  color: #060606;
}
.language-select ul {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  overflow-y: auto;
  max-height: 200px;
}
.language-select input:checked + label + ul {
  display: block;
}
.language-select li {
  padding: 5px 10px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.language-select li:hover {
  background-color: #ccc;
}

.language-select input:checked + label + ul li {
  color: #000000;
  background-color: #fffefe;
}
